---
export const prerender = true;

interface Article {
  title: string;
  link?: string;
  githubLink: string;
  description: string;
  techStack: string[];
}

import { Icon } from "../../assets/icons/";

export interface Props {
  project: Article;
}

const { project } = Astro.props;
---

<div class="flex flex-col rounded-md border border-neutral-800 p-4">
  <div class="mb-2 flex items-center justify-between">
    <a href={project.link || project.githubLink} target="_blank">
      <h2 class="font-hero font-semibold">{project.title}</h2>
    </a>

    <div class="flex items-center space-x-3">
      <a
        href={project.githubLink}
        target="_blank"
        rel="noopener noreferrer"
        title="Link to repository"
        class="text-gray-400 hover:text-gray-100 transition-colors duration-300"
      >
        <Icon.Github width={25} aria-hidden="true" />
      </a>
    </div>
  </div>

  <p class="font-avenir text-md text-gray-400 trunc line-clamp-1">
    {project.description}
  </p>

  <div class="mt-3 flex items-center w-full">
    <div class="flex items-center space-x-2 overflow-x-auto">
      {
        project.techStack.map((tech) => (
          <div class="font-avenir rounded-md border border-neutral-800 px-2 py-1 text-xs min-w-fit" title={tech}>
            {tech}
          </div>
        ))
      }
    </div>
  </div>
</div>
