---
import { Icon } from "../../../assets/icons";
import type { CategoryAllowed } from "../../../interfaces";
import { CategoryMap } from "../../../utils/categories";

const { content, timeToRead } = Astro.props;
const prettyTimeToReadText = timeToRead <= 1 ? "minuto" : "minutos";
---

<aside class="xl:sticky pt-10 top-3 col-span-4 xl:col-span-1">
  <div class="text-sm font-medium leading-5 divide-gray-700 divide-y">
    <div
      class="flex flex-col xl:flex-row md:gap-y-0 sm:flex-row xl:block xl:space-y-8 divide-y divide-gray-700 sm:divide-y-0 xl:divide-y"
    >
      <div class="pb-4 w-full">
        <p class="text-xs uppercase tracking-wide mb-2">Categorías</p>
        <div class="flex flex-wrap">
          {
            content.categories.map((category: CategoryAllowed) => (
              <p class="mr-3 text-gray-400">{CategoryMap.get(category)}</p>
            ))
          }
        </div>
      </div>

      <div class="py-4 sm:pt-0 xl:pt-4 w-full !mt-0">
        <h3 class="text-xs uppercase tracking-wide mb-2">Tiempo de lectura</h3>
        <div class="flex flex-wrap text-gray-400">
          {timeToRead}
          {prettyTimeToReadText}
        </div>
      </div>
    </div>

    <div class="py-4 hidden xl:block">
      <p class="text-xs uppercase tracking-wide mb-2">Secciones</p>

      {
        content.sections.map((section: { anchor: string; title: string }) => (
          <a
            href={`#${section.anchor}`}
            class="flex w-fit text-primary-400 hover:text-primary-500 transition ease-in-out duration-300"
          >
            {section.title}
          </a>
        ))
      }
    </div>

    <div class="py-4">
      <a
        href="/"
        class="flex text-primary-400 hover:text-primary-500 transition ease-in-out duration-300"
        aria-label="Volver al inicio"
      >
        <Icon.ArrowLeft width={18} /> Volver a la raíz
      </a>
    </div>
  </div>
</aside>
