---
import { Icon } from "../../../assets/icons";
import type { CategoryAllowed, TagsAllowed } from "../../../interfaces";
import { CategoryMap, TagMap } from "../../../utils/categories";

const { content, timeToRead } = Astro.props;
const prettyTimeToReadText = timeToRead <= 1 ? "minuto" : "minutos";
---

<aside class="col-span-4 pt-10 xl:sticky top-3 xl:col-span-1">
  <div class="text-sm font-medium leading-5 divide-y divide-gray-700">
    <div
      class="flex flex-col divide-y divide-gray-700 xl:flex-row md:gap-y-0 sm:flex-row xl:block xl:space-y-8 sm:divide-y-0 xl:divide-y"
    >
      <div class="w-full pb-4">
        <p class="mb-2 text-xs tracking-wide uppercase">Categorías</p>
        <div class="flex flex-wrap">
          {
            content.categories.map((category: CategoryAllowed) => (
              <p class="mr-3 text-gray-400">{CategoryMap.get(category)}</p>
            ))
          }
        </div>
      </div>

      <div class="py-4 sm:pt-0 xl:pt-4 w-full !mt-0">
        <p class="mb-2 text-xs tracking-wide uppercase">Tags</p>
        <div class="flex flex-wrap">
          {content.tags.map((tag: TagsAllowed) => <p class="mr-3 text-gray-400">{TagMap.get(tag)}</p>)}
        </div>
      </div>

      <div class="py-4 sm:pt-0 xl:pt-4 w-full !mt-0">
        <h3 class="mb-2 text-xs tracking-wide uppercase">Tiempo de lectura</h3>
        <div class="flex flex-wrap text-gray-400">
          {timeToRead}
          {prettyTimeToReadText}
        </div>
      </div>
    </div>

    <div class="hidden py-4 xl:block">
      <p class="mb-2 text-xs tracking-wide uppercase">Secciones</p>

      {
        content.sections.map((section: { anchor: string; title: string }) => (
          <a
            href={`#${section.anchor}`}
            class="flex transition duration-300 ease-in-out w-fit text-primary-400 hover:text-primary-500"
          >
            {section.title}
          </a>
        ))
      }
    </div>

    <div class="py-4">
      <a
        href="/"
        class="flex transition duration-300 ease-in-out text-primary-400 hover:text-primary-500"
        aria-label="Volver al inicio"
      >
        <Icon.ArrowLeft width={18} /> Volver a la raíz
      </a>
    </div>
  </div>
</aside>
