---
import type { CategoryAllowed } from "../../../interfaces";
import { CategoryMap } from "../../../utils/categories";

const { content, timeToRead, previousArticle, nextArticle } = Astro.props;
---

<aside class="xl:sticky pt-10 top-3 col-span-4 xl:col-span-1">
  <div class="text-sm font-medium leading-5 divide-gray-700 divide-y">
    <div
      class="flex flex-col xl:flex-row md:gap-y-0 sm:flex-row xl:block xl:space-y-8 divide-y divide-gray-700 sm:divide-y-0 xl:divide-y"
    >
      <div class="pb-4 w-full">
        <p class="text-xs uppercase tracking-wide mb-2">Categorías</p>
        <div class="flex flex-wrap">
          {
            content.categories.map((category: CategoryAllowed) => (
              <p class="mr-3 text-gray-400">{CategoryMap.get(category)}</p>
            ))
          }
        </div>
      </div>

      <div class="py-4 sm:pt-0 xl:pt-4 w-full !mt-0">
        <h3 class="text-xs uppercase tracking-wide mb-2">Tiempo de lectura</h3>
        <div class="flex flex-wrap text-gray-400">{timeToRead} minutos</div>
      </div>
    </div>

    <div class="py-4 hidden xl:block">
      <p class="text-xs uppercase tracking-wide mb-2">Secciones</p>

      {
        content.sections.map((section) => (
          <a
            href={`#${section.anchor}`}
            class="flex text-primary-400 hover:text-primary-500 transition ease-in-out duration-150"
          >
            {section.title}
          </a>
        ))
      }
    </div>

    <div
      class="flex flex-col gap-y-5 sm:flex-row py-4 xl:block xl:space-y-8 xl:py-8"
    >
      {
        previousArticle && (
          <div class="w-full">
            <p class="text-xs uppercase tracking-wide mb-2 transition ease-in-out duration-150">
              Artículo anterior
            </p>

            <a
              href={`${previousArticle.frontmatter.slug}`}
              class="text-primary-400 hover:text-primary-500 transition ease-in-out duration-150"
            >
              {previousArticle.frontmatter.title}
            </a>
          </div>
        )
      }

      {
        nextArticle && (
          <div class="w-full">
            <p class="text-xs uppercase tracking-wide mb-2 transition ease-in-out duration-150">
              Siguiente artículo
            </p>

            <div class="text-primary-400 hover:text-primary-500 transition ease-in-out duration-150">
              <a href={`${nextArticle.frontmatter.slug}`}>
                {nextArticle.frontmatter.title}
              </a>
            </div>
          </div>
        )
      }
    </div>
  </div>

  <div class="py-4">
    <a
      href="/"
      class="text-primary-400 hover:text-primary-500 transition ease-in-out duration-150"
      aria-label="Volver al inicio"
    >
      &larr; Volver a la home
    </a>
  </div>
</aside>
