---
import settings from "../../settings";

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  slug?: string;
}

const title = Astro.props.title
  ? `${Astro.props.title} | ${settings.title}`
  : settings.title;
const description = Astro.props.description || settings.description;
const image = Astro.props.image
  ? Astro.props.image
  : new URL("./images/eduardo_alvarez.webp", Astro.site);
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href={`${settings.url}/favicon.ico`} />
  <meta name="generator" content={Astro.generator} />

  <link
    rel="preload"
    href="/fonts/Avenir.woff"
    as="font"
    type="font/woff"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/Hero.woff"
    as="font"
    type="font/woff"
    crossorigin
  />

  <link rel="canonical" href={canonicalURL} />

  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <meta name="robots" content="index, follow" />

  <meta name="keywords" content={settings.keywords} />
  <meta name="author" content={settings.author.name} />
  <meta name="copyright" content={settings.author.name} />
  <meta name="application-name" content={`Blog de ${settings.author.name}`} />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <meta name="apple-mobile-web-app-title" content={settings.title} />
  <meta name="format-detection" content="telephone=no" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#030712" />
  <meta name="image" content={image} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={image} />
</head>
