---
import Article from "../components/article/index.astro";
import Project from "../components/project/index.astro";
import type { Article as IArticle } from "../interfaces";
import Layout from "../layouts/main/index.astro";
import config from "../settings";
import { articlesSort } from "../utils/articles";
import projectsInfo from "../settings/projects";
import { Image } from "astro:assets";
import Subscribe from "../components/subscribe/index.astro";
import ME from "../assets/images/eduardo_alvarez.webp";

export const prerender = true;

type Frontmatter = IArticle;

const _MAX_ARTICLES = 3;
const posts = await Astro.glob<Frontmatter>("./articulos/*.mdx");
posts.sort(articlesSort).splice(_MAX_ARTICLES);

const seo = {
  title: "Inicio",
};
---

<Layout seo={seo}>
  <div class="flex flex-col md:flex-row md:space-x-6 items-center content-center md:w-5/6 md:mx-auto m-auto mb-20">
    <Image
      src={ME}
      alt="Ilustración de Eduardo Alvarez"
      class="min-w-[205px] min-h-[200px] w-[205px] h-[200px]"
      width="205"
      height="200"
      loading="lazy"
      decoding="async"
    />

    <div>
      <h1 class="font-hero font-semibold text-3xl text-gray-100 sm:leading-10 md:leading-14 text-center md:text-left">
        ¡Hola! Mi nombre es Eduardo Álvarez.
      </h1>

      <div class="mt-4 space-y-4 md:space-y-2">
        <p>
          Software engineer enfocado en Frontend con +8 años de experiencia en los cuales he trabajado en diferentes
          proyectos y empresas, de las cuales he adquirido conocimientos y habilidades, las que podrás ver en este
          sitio.
        </p>

        {
          config.social_network
            .filter((social) => social.show)
            .map((social, i) => (
              <span class="inline-flex rounded-md shadow-sm">
                <a
                  href={social.link}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-base font-medium leading-6 text-gray-100  hover:text-gray-300 focus:outline-none focus:text-gray-300 transition ease-in-out duration-300"
                >
                  {social.name}
                </a>
                {i !== config.social_network.filter((social) => social.show).length - 1 && (
                  <span class="mx-2 text-gray-400">/</span>
                )}
              </span>
            ))
        }
      </div>
    </div>
  </div>

  <section class="space-y-5 mb-20">
    <h1 class="font-hero text-4xl leading-9 text-gray-100 sm:leading-10 md:text-3xl">Proyectos</h1>

    <section class="grid grid-cols-1 gap-5 md:grid-cols-2">
      {projectsInfo.projects.map((project) => <Project project={project} />)}
    </section>
  </section>

  <section class="space-y-5 mb-20">
    <h1 class="font-hero text-4xl leading-9 text-gray-100 sm:leading-10 md:text-3xl">Últimos artículos</h1>

    <ul class="divide-y divide-gray-700">
      {
        posts.map((post) => (
          <li class="py-6 first:pt-0">
            <Article article={post.frontmatter} />
          </li>
        ))
      }
    </ul>

    {
      posts.length >= _MAX_ARTICLES && (
        <div class="flex justify-end">
          <a
            href="/articulos"
            class="text-base font-medium leading-6 text-gray-100 hover:text-gray-300 focus:outline-none focus:text-gray-300 transition ease-in-out duration-300"
          >
            Ver todos los artículos &rarr;
          </a>
        </div>
      )
    }
  </section>

  <Subscribe />
</Layout>
