---
import { useSanityClient } from '@sanity/astro';
const posts = await useSanityClient().fetch(`*[_type == "post"]`);
const categories = await useSanityClient().fetch(`*[_type == "category"]`);

---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My blog</title>
	</head>
	<body>
		<h1>Astro</h1>
		
		{posts && <section>
			{posts.map(({ title, description, publishedAt, categories: postCategories, mainImage, slug: { current } }) => (
					<article>
						<img src={mainImage.asset.url} alt={title}>
						<header>
							<a href={`articulos/${current}`}>{title}</a>
						</header>

						<div>{description}</div>
						<time datetime={publishedAt}>{new Date(publishedAt).toLocaleDateString()}</time>	
						<ul>
							{postCategories.map((category) => (
								<li>
									{categories.find(({ _id }) => _id === category._ref)?.title}	
								</li>
							))}
						</ul>
					</article>
			))}
		</section>}
	</body>
</html>
